<div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>



    <h1>Students</h1>

    @*@Ajax.Actionlink*@



</div>