@model AlbaCaZapada.Models.Group

<form method="post" asp-action="EditGroupPost">
    <input asp-for="Id" hidden>
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Editeaza Grupa</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="GroupName"></label>
                    </div>
                    <div class="col-3">
                        <label asp-for="IsActive"></label>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <input asp-for="GroupName" class="form-control">
                        <span asp-validation-for="GroupName" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <input asp-for="IsActive">
                    </div>
                </div>
            </div>
            <p></p>
            <div class="form-group row">
                <div class="col-6">
                    <input type="submit" class="btn btn-success" value="Salveaza">
                </div>
                <div class="col-6">
                    <a class="btn btn-danger fa-pull-right" asp-action="Index">Anuleaza</a>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}