@model AlbaCaZapada.Models.Payment

<form method="post" asp-action="AddNewMonthCharge">
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-10">
                <h2 class="text-black-50">Adauga "Luna" noua cu zilele lucratoare corespunzatoare.</h2>
                <h4 class="text-black-50">(dupa salvare, toti elevii din gradinita vor fi restanti pt. aceasta luna</h4>
                <h4 class="text-black-50">cu valoarea inmultirii TAXEI cu ZILELE LUCRATOARE)</h4>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Month"></label>
                    </div>
                    <div class="col-2">
                        <label asp-for="WorkingDaysInMonth"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="Fee"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <input asp-for="Month" class="form-control">
                        <span asp-validation-for="Month" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        <input asp-for="WorkingDaysInMonth" class="form-control">
                        <span asp-validation-for="WorkingDaysInMonth" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        <input asp-for="Fee" class="form-control">
                        <span asp-validation-for="Fee" class="text-danger"></span>
                    </div>
                </div>
                <p></p>
                <div class="form-group row">
                    <div class="col-6">
                        <input type="submit" class="btn btn-success" value="Salveaza">
                    </div>
                    <div class="col-6">
                        <a class="btn btn-danger fa-pull-right" asp-controller="Home" asp-action="Index" >Anuleaza</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
