@model AlbaCaZapada.View_Models.StudentPaymentViewModel

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    @using (Html.BeginForm("IndeptedStudents", "Payment", FormMethod.Get, new { id = "Group" })) ;
   
        <div class="container p-3">
            <div class="col-8">
                <h2 class="text-primary text-black-50">Lista restantieri pt grupa:</h2>
                <div class="col-3">
                    @Html.DropDownListFor(m => m.Group, Model.Groups, "---Selecteaza Grupa---")
                    <br />
                    <br />
                    <input type="submit" class="btn btn-success" value="Afiseaza">
                </div>
            </div>
        </div>


    <br />
    <div id="IndeptedStudentsList">

    </div>


    <@*script type="text/javascript">
    $(document).ready(function () {
        $("#cmbBaselineType").on('change', function () {
            var baseline = $(this).val();
            $.ajax({
                type: 'GET',
                path: 'StatusList',
                data: { search: '', Bid: baseline },
                success: function (result) {
                    $('#viewPlaceHolder').html(result);
                },
                error: function () {
                    //do something
                }
            });
        });
    });</script>*@




