@model AlbaCaZapada.Models.Student

<form method="get" asp-action="Index">
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary text-black-50">Taxa scolarizare pt:</h2>
                <h1>@ViewBag.Name</h1>
            </div>
            <div class="col-6 text-right">
                <a asp-action="AddPayment" class="btn btn-success fa-pull-right">Adauga plata</a>
            </div>
        </div>
        <br />
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Valoare (RON)
                    </th>
                    <th>
                        Data platii
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var payment in ViewData["payment"] as List<Payment>)
                {
                    <tr>
                        <td width="50%">@payment.Amount</td>
                        <td width="50%">@payment.PaymentDate</td>
                    </tr>
                }
            </tbody>
        </table>
            <a class="btn btn-success" asp-controller="Student" asp-action="Index">Inapoi</a>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
