@model IEnumerable<AlbaCaZapada.Models.Group>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-4">
            <h2 class="text-primary text-black-50">Restantieri</h2>
        </div>
    </div>
    <br />
    @if (Model.Count() > 0)
    {
        @foreach (var group in Model)
        {
            <div class="row pt-4">
                <div class="col-4">
                    <h2>@Html.Label(group.GroupName)</h2>
                </div>
            </div>
            <table class="table table-bordered table-striped" style="width:100%">
                <tr class="text-center">
                <thead>
                    <tr>
                        <th>
                            Nume
                        </th>
                        <th>
                            Balanta
                        </th>
                        <th>
                            Istoric plati
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in group.Students)
                    {
                        @if (student.Balance < 0)
                        {
                            <tr>
                                <td width="30%">@student.Name</td>
                                <td width="20%">@student.Balance</td>
                                <td width="15%">@Html.ActionLink("Istoric Plati", "Index", "Payment", new { id = student.Id }, null)</td>
                            </tr>
                        }
                    }



                </tbody>
            </table>
        }
    }

    else
    {
        <p>Nici un rezultat !</p>
    }

</div>

