@model AlbaCaZapada.View_Models.StudentPaymentViewModel


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-4">
            <h2 class="text-primary text-black-50">Restantieri: @Model.Students.Count</h2>
        </div>
    </div>
    <br />
    @if (Model.Students.Count > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <tr class="text-center">
            <thead>
                <tr>
                    <th>
                        Nume
                    </th>
                    <th>
                        Restanta (RON)
                    </th>
                    <th>
                        Taxa scolarizare
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model.Students)
                {
                    <tr>
                        <td width="40%">@student.Name</td>
                        <td width="30%">@student.Balance</td>
                        <td width="30%">@Html.ActionLink("Istoric Plati", "Index", "Payment", new { id = student.Id }, null)</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    else
    {
        <p>Nici un rezultat !</p>
    }

</div>