@model IEnumerable<AlbaCaZapada.View_Models.TotalPaymentPerMonth>

<div class="container p-2">
    <div class="row pt-4">
        <div class="col-4">
            <h2 class="text-primary text-black-50">Total incasari / luna</h2>
        </div>
    </div>
    <br />
    <table class="table table-bordered table-striped" style="width:60%">
        <tr class="text-center">
        <thead>
            <tr>
                <th>
                    Luna
                </th>
                <th>
                    Total incasari (RON)
                </th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model)
                {
                   <tr>
                       <td width="30%">@item.Month</td>
                       <td width="30%">@item.TotalPayment</td>
                    </tr>
                }
        </tbody>
    </table>
</div>