@model AlbaCaZapada.Models.Student

<form method="post" asp-action="AddStudent">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Adauga elev nou</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-3">
                        <label asp-for="Group.GroupName"></label>
                    </div>
                    <div class="col-3">
                        <label asp-for="BirthDate"></label>
                    </div>
                    <div class="col-3">
                        <label asp-for="InSchool"></label>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <input asp-for="Group" class="form-control">
                        <span asp-validation-for="Group" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <input asp-for="BirthDate" type="date" asp-format="{dd-MM-yyyy}" class="form-control">
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <input asp-for="InSchool">
                        <span asp-validation-for="InSchool" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="FirstParent"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="SecondParent"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="Details"></label>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        @Html.TextAreaFor(model => model.FirstParent, 10, 40, null)
                    </div>
                    <div class="col-4">
                        @Html.TextAreaFor(model => model.SecondParent, 10, 40, null)
                    </div>
                    <div class="col-4">
                        @Html.TextAreaFor(model => model.Details, 10, 40, null)
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-6">
                        <input type="submit" class="btn btn-success" value="Adauga elev">
                    </div>
                    <div class="col-6">
                        <a asp-action="Index" class="btn btn-danger fa-pull-right">Anuleaza</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPArtial" />
    }
}